*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* :root{
    --text-color : #333333;
} */
section{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 82vh;
    width: 75%;
    margin: 14vh auto 0;
    border-radius: 10px;
    overflow: hidden;
}

.heading{
    font-weight: 650;
    font-size: 3.5rem;
    color: #333333;
}

.text{
    color: #666666;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 25px;
}

a{
    font-size: 1.2rem;
    color: rgb(24, 191, 255);
    text-decoration: none;
    border: 2px solid rgb(24, 191, 255);
    border-radius: 30px;
    padding: 8px 24px;
    transition: all 0.3s ease;
}
a:hover{
    color:#40407a;
    border: 2px solid #40407a;
}

.icons{
    display: flex;
    
}

.loop{
    display: flex;
}

.span{
    background-color: white;
    position: relative;
    top: 5%;
    left: 45%;
    transform: translate(-50%,0%);
    height: 144px;
    width: 144px;
    margin-left: 30px;
    padding-left: 12px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: move 15s linear infinite;
}

img{
    width: 120px;
    height: 120px;
}

@keyframes move{
    0%{
        top: 5%;
        left: -55%;
        transform: translate(-50%,0%);
    }
    100%{
        top: 5%;
        left: 45%;
        transform: translate(-50%,0%);
    }
}
   
@media screen and (max-width: 1300px){
    section{
        width: 95%;
    }
}